*{
    padding: 0px;
    margin: 0px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.text{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 20px; 
    padding-top: 20px; 
    color:rgb(6, 29, 14);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    animation: fade-in 2s;
    transition: color 0.5s;
}

.text:hover{
    color: rgb(16, 74, 36);
}

.gameButton{
    padding-top: 20px;  padding-right: 20px; padding-bottom: 20px; padding-left: 20px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    transition: box-shadow 0.15s, opacity 0.15s;
    width: 400px;
    height: 200px;
    font-size: 30px;
}

.gameButton:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.gameButton:active{
    opacity: 0.8;
}

.intro{
    animation: backgroundSwitch 1s;
    animation: fade-up 1s;
}


@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.8);
    }
    100% {
        opacity: 1;
        transdorm: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.8);
    }
    100% {
        opacity: 1;
        transdorm: translateY(0px) scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

